<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Product Admin</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Andada+Pro:wght@500&family=IM+Fell+English+SC&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/css/navbar.css}" rel="stylesheet" media="screen" />
</head>

<style>
    body {
        font-family: 'Andada Pro', serif;
    }

      table {
        display: flex;
        justify-content: center;
    }

    .add-container {
        background-color: #B7D0DE;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        column-gap: 1vh;
        margin-top: 2vh;
        margin-bottom: 2vh;
        border-radius: 15px;

    }

    .add-product-form {
        width: 100%
    }

    .add-product-text {
        background-color: #A7BED3;
        display: flex;
        justify-content: center;
        margin-bottom: 1vh;
        border-radius: 15px;
        color: white;
    }
</style>

<body>
    <nav th:replace="fragments/navbar :: navbar">

    </nav>

    <div class="container">
        <div class="row-lg-12">
            <div class="row-lg-12 add-container">
                <div>
                    <div class="col-lg-6 add-product-form">
                        <div class="row-lg-3 add-product-text">
                            <h3>Create New Product</h3>
                        </div>
                        <form action="#" th:action="@{/admin/product/create}" th:object="${product}" method="post">
                            <div class="row-lg-12 input-group mb-3">
                                <label class="input-group-text">Product Category Id</label>
                                <input type="number" id="product-category-id" name="product-category-id"
                                    class="form-control" th:field="*{productcategoryid}">
                            </div>
                            <div class="row-lg-12 input-group mb-3">
                                <span class="input-group-text">Brand Id</span>
                                <input type="number" id="brand-id" name="brand-id" class="form-control"
                                    th:field="*{brandid}">
                            </div>
                            <div class="row-lg-12 input-group mb-3">
                                <span class="input-group-text">Product Name</span>
                                <input type="text" id="product-name" name="product-name" class="form-control"
                                    th:field="*{productname}">
                            </div>
                            <div class="row-lg-12 input-group mb-3">
                                <span class="input-group-text">Width</span>
                                <input type="number" id="width" name="width" class="form-control" th:field="*{width}">
                            </div>
                            <div class="row-lg-12 input-group mb-3">
                                <span class="input-group-text">Length</span>
                                <input type="number" id="length" name="length" class="form-control"
                                    th:field="*{length}">
                            </div>
                            <div class="row-lg-12 input-group mb-3">
                                <span class="input-group-text">Weight</span>
                                <input type="number" id="weight" name="weight" class="form-control"
                                    th:field="*{weight}">
                            </div>
                            <div class="row-lg-12 input-group mb-3">
                                <span class="input-group-text">Max Capacity</span>
                                <input type="number" id="max-capacity" name="max-capacity" class="form-control"
                                    th:field="*{maxcapacity}">
                            </div>
                            <div class="row-lg-12 input-group mb-3">
                                <span class="input-group-text">Price</span>
                                <input type="number" id="price" name="price" class="form-control" th:field="*{price}">
                            </div>
                            <div class="row-lg-12 input-group mb-3">
                                <span class="input-group-text">Image Url</span>
                                <input type="text" id="image-url" name="image-url" class="form-control"
                                    th:field="*{imageurl}">
                            </div>
                            <div class="row-lg-8 add-button">
                                <button type="submit">Add Product</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div>
                </div>
            </div>
            <div class="row-lg-12 table-container">
                <div>
                    <table class="table table-dark table-striped">
                        <tr>
                            <td>Product Id</td>
                            <td>Product Category Id</td>
                            <td>Brand Id</td>
                            <td>Product Name</td>
                            <td>Width</td>
                            <td>Length</td>
                            <td>Weight</td>
                            <td>Max Capacity</td>
                            <td>Inventory</td>
                            <td>Price</td>
                            <td>Image URL</td>
                            <td>Delete</td>
                        </tr>
                        <tr th:each="product : ${products}">
                            <td th:text="${product.id}">Product Id</td>
                            <td th:text="${product.productcategoryid}">Product Category Id</td>
                            <td th:text="${product.brandid}">Brand Id</td>
                            <td th:text="${product.productname}">Product Name</td>
                            <td th:text="${product.width}">Width</td>
                            <td th:text="${product.length}">Length</td>
                            <td th:text="${product.weight}">Weight</td>
                            <td th:text="${product.maxcapacity}">Max Capacity</td>
                            <td th:text="${product.inventory}">Inventory</td>
                            <td th:text="${product.price}">Price</td>
                            <td th:text="${product.imageurl}">Image URL</td>
                            <td>
                                <form th:action="@{/admin/product/delete}" th:object="${product}" method="delete">
                                    <input type="hidden" name="id" th:value="${product.id}">
                                    <inpput type="hidden" name="productcategoryid" th:value="${product.productcategoryid}">
                                    <input  type="hidden" name="bramdid" th:value="${product.brandid}">
                                    <input type="hidden" name="productname" th:value="${product.productname}">
                                    <input type="hidden" name="width" th:value="${product.width}">
                                    <input type="hidden" name="length" th:value="${product.length}">
                                    <input type="hidden" name="weight" th:value="${product.weight}">
                                    <input type="hidden" name="maxcapacity" th:value="${product.maxcapacity}">
                                    <input type="hidden" name="inventory" th:value="${product.inventory}">
                                    <input type="hidden" name="price" th:value="${product.price}">
                                    <input type="hidden" name="imageurl" th:value="${product.imageurl}">
                                    <button type="submit" name="deleteProduct" value="0">Delete</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <script th:inline="javascript">
        const navSlide = () => {
            const burger = document.querySelector('.burger');
            const nav = document.querySelector('.nav-links');
            const navLinks = document.querySelectorAll('.nav-links li');

            //toggle view
            burger.addEventListener('click', () => {
                nav.classList.toggle('nav-active');
                //animate Links
                navLinks.forEach((link, index) => {
                    if (link.style.animation) {
                        link.style.animation = '';
                    } else {
                        link.style.animation = `navLinkFade 0.5s ease forwards ${index / 7 + 1.5}s`;
                    }
                });

                //burger animation
                burger.classList.toggle('toggle');
            });


        }
        navSlide();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
</body>

</html>